.advantages {
  padding: 112px 0 20px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  width: 48.8%;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 38px 41px;

  background-color: $background-color;

  border: 1px solid #ebebeb;
  border-left: 3px solid $accent-color;

  &:hover {
    background-color: $accent-color;

    .advantages__header,
    .advantages__text {
      color: $foreground-color-light;
    }

    .advantages__icon {
      fill: white;
    }
  }
}

.advantages__icon {
  width: 36px;
  height: 36px;

  fill: $accent-color;
}

.advantages__header {
  position: relative;

  margin-top: 14px;
  margin-bottom: 15px;

  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $accent-color;
}

@media (max-width: $tablet) {
  .advantages {
    padding: 54px 0 10px;
  }

  .advantages__item {
    width: 48%;
    max-height: auto;
    min-height: 232px;
    padding-top: 22px;
    padding-bottom: 4px;
    padding-right: 20px;
    padding-left: 25px;
  }

  .advantages__icon {
    &--detective {
      width: 30px;
      height: 30px;
    }
  }

  .advantages__header {
    margin-top: 2px;
    margin-bottom: 10px;

    &--mb15 {
      margin-bottom: 15px;
    }

    &--mb5 {
      margin-bottom: 5px;
    }
  }

  .advantages__text {
    margin-top: 5px;
  }

  .advantages__additional-space {
    display: none;
  }
}

@media (max-width: $mobile) {
  .advantages {
    padding: 26px 0 10px;
  }

  .advantages__list {
    margin-left: 0;
  }

  .advantages__item {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 13px 20px 8px 24px;

    &--timing {
      margin-bottom: 31px;
    }

    &--suppliers {
      padding-right: 0;
    }
  }

  .advantages__icon {
    margin-top: 10px;
  }

  .advantages__header {
    margin-top: 6px;
    margin-bottom: 9px;

    font-size: 20px;
    line-height: 140.62%;

    &--mb15 {
      margin-bottom: 0;
    }

    &--mt2 {
      margin-top: 2px;
      margin-bottom: 12px;
    }
  }

  .advantages__text {
    &--confidentiality {
      margin-top: -9px;
    }
  }
}
