.form {
  z-index: 2;
  position: relative;
}

.form__header {
  display: block;
  margin-top: 15px;
  margin-bottom: 7px;

  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $foreground-color-light;
}

.form__description {
  margin-top: 10px;
  padding-left: 5px;
  margin-bottom: 52px;

  font-family: $ptmono;
  color: $foreground-color-light;
}

.form__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 3px;
}

input[type="text"],
input[type="tel"],
.form__textarea {
  box-sizing: border-box;
  padding: 13px 18px 17px;

  color: $foreground-color-light;

  background-color: #1abaff;
  border: none;

  &::placeholder {
    color: $foreground-color-light;
  }
}

input[type="text"],
input[type="tel"] {
  width: 270px;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  max-height: 155px;
  margin-bottom: 37px;
  margin-left: 3px;

  resize: none;
}

.form__wrapper {
  display: flex;
  align-items: center;
}

.form__button {
  width: 270px;
  margin-right: 37px;
  margin-left: 3px;
}

.form__confidentiality {
  position: relative;
  display: flex;
  width: 263px;

  input[type="checkbox"] {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.form__agreement-text {
  font-size: 14px;
  line-height: 16px;

  padding-top: 3px;
  padding-left: 34px;
  color: $foreground-color-light;
}
