.services {
  background-color: $background-color-dark;
}

.services__container {
  padding-top: 52px;
  padding-bottom: 75px;
}

.services__header {
  margin-bottom: 51px;

  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $foreground-color-light;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.services__item {
  width: 31.7%;
  max-height: 625px;
  margin-bottom: 37px;
  margin-right: 2.45%;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.services__item-header {
  margin: 0;
  max-width: 170px;

  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

.services__link {
  box-sizing: border-box;
  position: relative;

  display: block;
  min-height: 620px;
  padding: 50px 44px 60px;

  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: $foreground-color-light;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;

    background-color: $accent-color;
    background-image: url("../img/arrow.svg");
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.3;
    }
  }

  &--production {
    &::before {
      background-image: url("../img/service_production-bg.jpg");
    }
  }

  &--installment {
    &::before {
      background-image: url("../img/service_installment-bg.jpg");
    }
  }

  &--parts {
    &::before {
      background-image: url("../img/service_parts-bg.jpg");
    }
  }
}


@media (max-width: $tablet) {
  .services__container {
    padding: 30px 25px 16px;
  }

  .services__header {
    max-width: 615px;
    margin-top: 20px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .services__list {
    flex-direction: column;
  }

  .services__item {
    width: 100%;
    max-height: 256px;
    margin-bottom: 46px;
    margin-right: 0;
  }

  .services__link {
    padding: 40px 45px 60px;
    min-height: 256px;
    height: auto;

    &::before {
      min-height: 256px;

      width: 100%;
      height: auto;

      background-size: 100% auto;
    }
  }
}

@media (max-width: $mobile) {
  .services__container {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 34px;
  }

  .services__header {
    margin-bottom: 42px;
    padding-left: 8px;

    font-size: 28px;
  }

  .services__item {
    min-height: 256px;
    margin-bottom: 30px;
  }

  .services__link {
    padding: 20px 33px;

    &::before {
      background-size: cover;
    }

    &--parts {
      padding-top: 30px;
    }
  }
}
