.site-header {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  padding-right: 18px;
  padding-left: 12px;

  @media (max-width: $tablet) {
    padding: 20px 25px;
    padding-right: 15px;
  }

  @media (max-width: $mobile) {
    padding: 17px;
  }
}

.site-header__logo {
  position: relative;
  display: block;
  line-height: 0;

  outline: none;
  cursor: pointer;

  &--mobile {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $mobile) {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.site-header__adaptive-logo {
  @media (max-width: $mobile) {
    display: none;
  }
}

.site-header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__contact-item {
  &--callback {
    margin-left: 50px;

    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.site-header__contact-link {
  position: relative;
  display: block;
  padding-left: 40px;
  font-family: $ptmono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $foreground-color-light;

  &::before {
    content: "";
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &--mail {
    padding-left: 38px;

    &::before {
      top: 2px;
      left: 0;
      width: 19px;
      height: 14px;
      background-image: url("../img/icon-envelope.svg");
      background-size: 19px 14px;
    }

    @media (max-width: $tablet) {
      &::before {
        top: -2px;
        width: 25px;
        height: 19px;
        background-size: 25px 19px;
      }
    }
  }

  &--phone {
    margin-left: 83px;

    &::before {
      left: 5px;
      width: 18px;
      height: 18px;
      background-image: url("../img/icon-phone.svg");
      background-size: 18px 18px;
    }

    @media (max-width: $tablet) {
      margin-left: 15px;

      &::before {
        top: -5px;
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @media (max-width: $tablet) {
    font-size: 0;
  }

  @media (max-width: $mobile) {
    padding-left: 28px;
  }
}
