body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $ptmono;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-color-dark;

  background-color: $background-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}
