body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $ptmono;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: $foreground-color;

  background-color: $background-color;
}

.body-lock {
  width: 100%;
  position: fixed;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  box-sizing: border-box;
  width: auto;
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;

  &--narrow {
    padding: 0 134px;
  }
}

.button {
  display: inline-block;
  width: auto;
  padding: 13px 25px;

  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $foreground-color-light;

  background-color: transparent;

  border: 1px solid $foreground-color-light;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $foreground-color-dark;
    background-color: $background-color;
  }

  &--blue {
    color: $accent-color;
    border-color: $accent-color;

    &:hover,
    &:focus {
      color: $foreground-color-light;
      background-color: $accent-color;
    }
  }

  &--banner {
    font-size: 16px;
    line-height: 19px;
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover,
    &:focus {
      color: $accent-color;
      background-color: $foreground-color-light;
      border-color: $foreground-color-light;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

@media (max-width: $tablet) {
  .container {
    padding: 0 25px;

    &--narrow {
      padding: 0 25px;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    padding: 0 17px;

    &--narrow {
      padding: 0 14px;
    }
  }
}
