// Breakpoints
$tablet: 1023px;
$mobile: 767px;

// Fonts
$roboto: "Roboto Condensed", "Arial", sans-serif;
$ptmono: "PT Mono", "Arial", sans-serif;

// Colors
$accent-color: #00b2ff;

$font-color-dark: #666666;
$font-color-darker: #1b2d37;
$font-color-light: #ffffff;

$background-color: #ffffff;
$background-color-darker: #f5f5f5;
